build/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compileadd_executable(${PROJECT_NAME} src/main.cpp src/language_tokens.cppd Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
